* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

.wrap {
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; 
}

.box {
  color: white;
  min-width: 60%;
  max-width: 60%;
  margin: 1rem;
}
.title {
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid rgb(155, 155, 155);
}


.statisBox ol{
    margin-left: 1.25rem;
}

.statisBox ol li{
    margin: 0.5rem 0;
    font-size: 18px;
    font-weight: 500;
}


@media screen and (max-width: 768px) {
  .box {
    min-width: 85%;
    max-width: 85%;
  }
}